body {
    background-color: #E4E6C3;
}

#logo {
    color:whitesmoke;
    text-align: center;
}

ul {
    list-style: none;
    text-align:center;
    line-height: 25px;
}

a {
    color:#222725;
    text-decoration: none;
}

a:hover {
    color:#5d6964;
}